body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0;
}

.imghead {
    text-align: center;
}

.Somm {
    text-align: center;
}

#myCarousel {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    height: auto;
}

.nev {
    background-size: cover;
    width: 100%;
    height: auto;
}

.filigram {
    text-align: center;
    color: #da1010;
}

.couple {
    background-image: url(../img/couplepic1800.jpg);
    background-size: cover;
}

.wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 99;
}

p.form-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 70%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form {
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"],
form.login input[type="password"] {
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 1;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #ffffff;
    outline: 0;
}

form.login input[type="submit"] {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

form.login .remember-forgot {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

form.login .forgot-pass-content {
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.login label,
form.login a {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a {
    transition: color 0.5s ease;
}

form.login a:hover {
    color: #2ecc71;
}

.pr-wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset {
    display: block !important;
}

.pass-reset {
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"] {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"] {
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

.posted-by {
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

.img-responsive {
    background-size: cover;
    background-color: rgb(31, 31, 31);
    background: fixed;
    width: 100%;
    height: auto;
}

.container {
    height: 100%;
    align-content: center;
    position: absolute;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}


/* footer */

footer {
    background: #403435;
    padding: 20px;
}

footer {
    color: #ffffff!important
}